POSTGRES_USER=parktrack
POSTGRES_PASSWORD=parktrack_password
POSTGRES_DB=parktrack
POSTGRES_PORT=5432

POSTGRES_HOST=db
DATABASE_HOST_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}"

POSTGRES_TEST_DB=parktrack_test_db

DATABASE_URL="${DATABASE_HOST_URL}/${POSTGRES_DB}"
